.App {
  text-align: center;
}

.App-logo {
  height: 18vmin;
  pointer-events: none;
  width: 80vmin;
  align-content: center;
}

.button {
    display: inline-block;
    border-radius: 4px;
    background-color: #0AAB64;
    border: none;
    color: #FFFFFF;
    text-align: center;
    font-size: 28px;
    padding: 20px;
    width: 300px;
    transition: all 0.5s;
    cursor: pointer;
    margin: 5px;
    }
  
  .button span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
  }
  
  .button span:after {
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
  }
  
  .button:hover span {
    padding-right: 25px;
  }

  .button:hover {
    background-color: #0099D8;
  }
  
  .button:hover span:after {
    opacity: 1;
    right: 0;
  }

/* Button code source https://www.w3schools.com/css/tryit.asp?filename=trycss_buttons_animate1 */

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.list {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-content: center;
  flex-wrap: wrap;
}
/* Button code source: https://codepen.io/LukeRFP/pen/XMbeRL */
.button_plus {
  position:sticky;
  width: 35px;
  height: 35px;
  background: #fff;
  cursor: pointer;
  border: 2px solid #0AAB64;

  /* Mittig */
  /* top: 15%;
  right: 5%; */
}

.button_plus:after {
  content: '';
  position: absolute;
  transform: translate(-50%, -50%);
  height: 4px;
  width: 50%;
  background: #0AAB64;
  top: 50%;
  left: 50%;
}

.button_plus:before {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: #0AAB64;
  height: 50%;
  width: 4px;
}

.button_plus:hover:before,
.button_plus:hover:after {
  background: #fff;
  transition: 0.2s;
}

.button_plus:hover {
  background-color: #0AAB64;
  transition: 0.2s;
}

